affine==2.4.0
asgiref==3.11.1
attrs==25.4.0
boto3==1.42.59
botocore==1.42.59
certifi==2026.2.25
click==8.3.1
cligj==0.7.2
colorama==0.4.6
Django==5.0.14
django-cors-headers==4.9.0
djangorestframework==3.16.1
iniconfig==2.3.0
jmespath==1.1.0
numpy==2.4.2
packaging==26.0
pluggy==1.6.0
psycopg==3.3.3
psycopg-binary==3.3.3
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
rasterio==1.5.0
s3transfer==0.16.0
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
